* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
 
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
}




.cabecalho {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
    animation: entradaSuave 1s ease-out;
}


.cabecalho h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #ffffff;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.card-formulario {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 35px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 500px;
    padding: 40px;
    position: relative;
}


.card-formulario h2 {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 25px;
    text-align: center;
}




.campo {
    margin-bottom: 15px;
}


label {
    display: block;
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    margin-bottom: 5px;
}


input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: #111;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
}


input:focus {
border-color: #fff;
    transform: scale(1.02);
}




.btn-animado {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Luckiest Guy', cursive;
    background-color: #201f1f;
    color: #fff;
    border: 0;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}


.btn-animado:hover {
    background-color: #fff;
    color: #f30000;
    letter-spacing: 2px;
    box-shadow: 0 0 20px #f30000;
}




@media (max-width: 480px) {
    .card-formulario {
        padding: 20px;
        border-radius: 20px;
    }
   
    .cabecalho h1 {
        font-size: 1.8rem;
    }
}


@keyframes entradaSuave {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
